body{
    background-color: rgb(227, 253, 240);
    color: rgb(72, 173, 140);
}

.Column{
    float: left;
    width: 33%;
    padding: 10px;
}

img{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#About{
    width: 25%;
    border: skyblue 4px solid;
    font-style: italic;
    background-color: white;
}

#Upcoming{
    float: right;
    text-align: center;
    color: white;
    background-color: cadetblue;
    border: white 2px dashed;
}
#Photos{
    background-color: pink;
}

ul{
    list-style-type: none;
    text-align: center;
}

ol{
    list-style-position: inherit;
}
